<app-header></app-header>
<app-services></app-services>
<app-hero></app-hero>
<app-team></app-team>
<app-testemunhos></app-testemunhos>
<app-contact></app-contact>
<app-footer></app-footer>
<!-- Floating schedule button -->
<a
  class="btn btn-primary floating-cta"
  href="https://docs.google.com/forms/d/1KxtOKPhGwvNQHsLUDsGPSqLUSkHGePeY5-BPS2kZTXE/viewform"
  target="_blank"
>
  Agendar Sessão
</a>
<!-- Floating schedule button -->
<a
  class="btn btn-primary floating-cta"
  href="https://docs.google.com/forms/d/1KxtOKPhGwvNQHsLUDsGPSqLUSkHGePeY5-BPS2kZTXE/viewform"
  target="_blank"
>
  Agendar Sessão
</a>
