<app-header></app-header>
<ng-container *ngIf="isHome; else routed">
  <app-services></app-services>
  <app-hero></app-hero>
  <app-team></app-team>
  <app-testemunhos></app-testemunhos>
  <app-contact></app-contact>
</ng-container>
<ng-template #routed>
  <router-outlet></router-outlet>
</ng-template>
<app-footer></app-footer>
<!-- Floating schedule button -->
<a
  class="btn btn-primary floating-cta"
  href="https://docs.google.com/forms/d/1KxtOKPhGwvNQHsLUDsGPSqLUSkHGePeY5-BPS2kZTXE/viewform"
  target="_blank"
>
  Agendar Sessão
</a>
<!-- Floating schedule button -->
<a
  class="btn btn-primary floating-cta"
  href="https://docs.google.com/forms/d/1KxtOKPhGwvNQHsLUDsGPSqLUSkHGePeY5-BPS2kZTXE/viewform"
  target="_blank"
>
  Agendar Sessão
</a>
