<header id="header" class="header" [class.scrolled]="isScrolled">
  <div class="container">
    <div class="header-content">
      <a href="#home" class="logo">
        <img src="/assets/logo.png" alt="With.in logo" />
      </a>
      <nav class="nav-desktop">
        <ul class="nav-list">
          <li><a class="nav-link" href="#home">Início</a></li>
          <li><a class="nav-link" href="#team">Equipa</a></li>
          <li><a class="nav-link" href="#services">Serviços</a></li>
              <li><a class="nav-link" href="#testemunhos">Testemunhos</a></li>
          <li><a class="nav-link" href="#contact">Contacto</a></li>
        </ul>
      </nav>
      <button class="btn btn-primary cta-btn" (click)="openAppointmentModal()">Agendar Sessão</button>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </div>
  </div>
</header>
