<header id="header" class="header">
  <div class="container d-flex align-items-center">
    <a href="#home" class="logo">
      <img src="assets/logo.png" alt="Logo" />
    </a>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link" href="#home">Home</a></li>
        <li><a class="nav-link" href="#team">Equipa</a></li>
        <li><a class="nav-link" href="#services">Serviços</a></li>
        <li><a class="nav-link" href="#testemunhos">Testemunhos</a></li>
        <li><a class="nav-link" href="#contact">Contactos</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
  </div>
</header>
